div.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

div#boards {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 100px;
}

div.cell {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.cell:hover {
  cursor: pointer;
}

div.cell {
  background-color: lightblue;
}

div.cell.occupied {
  background-color: slategray;
}

div.cell.hit {
  background-color: #f78337;
}

div.cell.miss {
  background-color: steelblue;
}

@media (max-width: 1150px) {
  div#boards {
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
  }
}
