div.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

div#boards {
  display: flex;
  justify-content: space-between;
  margin: 100px;
  gap: 50px;
  flex-wrap: wrap;
}

div.cell {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.cell.empty {
  background-color: whitesmoke;
}

div.cell.occupied {
  background-color: lightblue;
}

div.cell.hit {
  background-color: red;
}

div.cell.miss {
  background-color: lightseagreen;
}
